In [30]:
import pandas as pd

In [31]:
data = pd.read_csv('../owid-covid-data.csv')

In [32]:
data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [33]:
data = data [['iso_code', 'date', 'new_cases', 'total_cases', 'new_deaths', 'total_deaths', 'new_tests', 'total_tests']]

In [34]:
data = data[~data['iso_code'].str.contains('OWID')]

In [35]:
# get the 7 days moving average of new cases per country
data['7DMA'] = data.groupby('iso_code')['new_cases'].rolling(7).mean().reset_index(0,drop=True)
data['7DMA'] = data['7DMA'].round(2)

In [36]:
data = data[data['date']>='2020-01-03']
data = data[data['date']<='2023-04-16']

In [37]:
# replace NaN with 0
data = data.fillna(0)

In [38]:
import json

data.to_json('../data/data.json', orient='records')

In [29]:
data[data['iso_code'] == 'BRA']

,iso_code,date,new_cases,total_cases,new_deaths,total_deaths,new_tests,total_tests,7DMA
36103,BRA,2020-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
36104,BRA,2020-01-04,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
36105,BRA,2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
36106,BRA,2020-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
36107,BRA,2020-01-07,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...
37298,BRA,2023-04-12,0.0,37319254.0,0.0,700556.0,0.0,0.0,8655.857143
37299,BRA,2023-04-13,0.0,37319254.0,0.0,700556.0,0.0,0.0,8655.857143
37300,BRA,2023-04-14,0.0,37319254.0,0.0,700556.0,0.0,0.0,8655.857143
37301,BRA,2023-04-15,0.0,37319254.0,0.0,700556.0,0.0,0.0,8655.857143
37302,BRA,2023-04-16,38838.0,37358092.0,255.0,700811.0,0.0,0.0,5548.285714